<div class="name-month">
    <h3>Attendance Status Summary</h3>
    <div class="class-name">
        <form [formGroup]="stateForm">
            <mat-form-field>
                <input type="text" matInput placeholder="Provide Name" formControlName="stateGroup" [matAutocomplete]="autoGroup">
                <mat-icon style="color: grey; position: absolute;">search</mat-icon>

                <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                        <mat-option *ngFor="let name of group.names" [value]="name">
                            {{name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="class-month">
        <mat-form-field>
            <mat-label>Choose Month</mat-label>
            <mat-select>
                <mat-option *ngFor="let month of months" [value]="month.value">
                    {{month.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>


<div class="record-table">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Employee Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Employee Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="avgPunchIn">
            <th mat-header-cell *matHeaderCellDef>Average Punch In </th>
            <td mat-cell *matCellDef="let element"> {{element.avgPunchIn}} </td>
        </ng-container>

        <ng-container matColumnDef="avgPunchOut">
            <th mat-header-cell *matHeaderCellDef>Average Punch Out </th>
            <td mat-cell *matCellDef="let element"> {{element.avgPunchOut}} </td>
        </ng-container>

        <ng-container matColumnDef="leavesTaken">
            <th mat-header-cell *matHeaderCellDef>Total Leaves Taken </th>
            <td mat-cell *matCellDef="let element"> {{element.leavesTaken}} </td>
        </ng-container>

        <ng-container matColumnDef="halfdayTaken">
            <th mat-header-cell *matHeaderCellDef>Total Half-Day Taken </th>
            <td mat-cell *matCellDef="let element"> {{element.halfdayTaken}} </td>
        </ng-container>

        <ng-container matColumnDef="PTORemaining">
            <th mat-header-cell *matHeaderCellDef>Total PTO Remaining </th>
            <td mat-cell *matCellDef="let element"> {{element.PTORemaining}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</div>
