<div>
    <mat-toolbar color="primary">
        <span class="title-center">Attendance Logger System
      </span>
    </mat-toolbar>


    <div class="pie-chart">
        <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options">
        </google-chart>
    </div>
    <div class="record-table">
        <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="employeeStatus">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.employeeStatus}} </td>
                <td></td>
                <td></td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="count">
                <th style="padding-left: 14px;" mat-header-cell *matHeaderCellDef>Count </th>
                <td style="padding-left: 14px;" mat-cell *matCellDef="let element"> {{element.count}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </div>
    <div class="card-class">
        <div style=" float: left;width:12%;margin-left: 3% ;text-align: center;">
            <mat-card>
                <h2><b>47</b></h2>
                <h3>Total Present</h3>
            </mat-card>
        </div>
        <div style=" float: left;width: 12%;margin: 0px 15px 0px 40px;text-align: center;">
            <mat-card>
                <h2><b>4</b></h2>
                <h3>Total Absent</h3>
            </mat-card>
        </div>
        <div style=" float: left;width: 12%;margin: 0px 15px 0px 24px ;text-align: center;">
            <mat-card>
                <h2><b>2</b></h2>
                <h3>Total Half-Day</h3>
            </mat-card>
        </div>
    </div>
</div>